<script type="text/javascript" src="__JS__/jquery/jquery.bigautocomplete.js"></script>
<link rel="stylesheet" type="text/css" href="__CSS__/jquery.bigautocomplete.css"/>
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i>
    首页 <span class="c-gray en">&gt;</span>
    基础数据管理
    <span class="c-gray en">&gt;</span>
    客户管理
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>
<div class="page-container">
    <div class="text-l">
        <form target="_self" action="" method="get" class="Huiform">
            {{:W('FormUnit/Input',array('客户名称','name',$name))}}
            {{:W('FormUnit/Input',array('手机号码','mobile', $mobile ))}}
            {{:W('FormUnit/Input',array('公司','company', $company ))}}
            <button type="submit" class="btn btn-success">
                <i class="Hui-iconfont">&#xe665;</i> 搜索
            </button>
        </form>
    </div>

    {{:W('FormUnit/BtnMenu', array('客户','customer','add'))}}

    <div class="dataTables_wrapper no-footer">
        <table class="table table-border table-bordered table-hover table-bg">
            <thead>
            <tr>
                <th scope="col" colspan="8">客户列表</th>
            </tr>
            <tr class="text-c">
                <th width="40">ID</th>
                <th width="200">客户姓名</th>
                <th width="200">手机号码</th>
                <th width="200">公司名称</th>
                <th width="200">添加时间</th>
                <th width="70">操作</th>
            </tr>
            </thead>
            <tbody>
            <foreach name="list" item="obj">
                <tr class="text-c" id="tr_{{$obj['id']}}">
                    <td>{{$obj['id']}}</td>
                    <td>{{$obj['name']}}</td>
                    <td>{{$obj['mobile']}}</td>
                    <td>{{$obj['company']}}</td>
                    <td>{{$obj['createdatetime']}}</td>
                    <td class="td-manage">
                        {{:W('FormUnit/BtnSmall', array('编辑','customer','edit',array('id'=>$obj['id'])))}}
                        {{:W('FormUnit/BtnSmall', array('删除','customer','del',array('id'=>$obj['id'])))}}
                    </td>
                </tr>
            </foreach>

            </tbody>
        </table>
        {{$page}}
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("input[name=name]").bigAutocomplete({
            url: "{{:U('public/getCustomer')}}",
            width: 150,
        });
    })
    /*-增加*/
    function add(title, url, w, h) {
        layer_show(title, url, w, h);
    }
    /*-编辑*/
    function edit(title, url, w, h) {
        layer_show(title, url, w, h);
    }

    /*-删除*/
    function del(title, url, w, h, obj) {
        layer.confirm('确认要删除吗？', function () {
            $.ajax({
                url: url,
                type: 'post',
                //data: {id: id},
                success: function (data) {
                    if (data.status == 1) {
                        $(obj).parents('tr').remove();
                        layer.msg('已删除!', {icon: 5, time: 1000});
                    } else {
                        layer.msg('删除失败!', {icon: 5, time: 1000});
                    }
                }
            });
        })
    }
</script>
