<!DOCTYPE html PUBLIC " -//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title>phone-register</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css"/>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
<script type="text/javascript" src="js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="js/effect.js"></script>
</head>
<body>
    <div class="head">
        <div class="logo">
            <a href="#" class="logo-left"><img src="image/logo-left.png" /></a>
            <a href="#" class="logo-right"><img src="image/logo-right.png" /></a>
        </div>
    </div>
    <div class="content">
        <div class="content-bg">
            <img src="image/content-bg.jpg" />
        </div>
        <div class="content-register">
            <div>
                <a href="#" class="wunderlist">
                    <img src="image/content-tp.png" /><span>wunderlist</span>
                </a>
            </div>
            <div class="login">
                <a href="#" class="btn btn-primary">Login</a>
            </div>
            <div class="register">
                <a href="#" class="btn">Register Now</a>
            </div>
            <div class="last">
                <a href="#">Later</a>
            </div>
        </div>
    </div>
    <div class="foot">
        <a href="#" class="foot-morning"><img src="image/foot-morning.png" /></a>
        <a href="#" class="foot-square"><img src="image/foot-square.png" /></a>
        <a href="#" class="foot-triangle-left"><img src="image/foot-triangle-left.png" /></a>
        <a href="#" class="foot-triangle"><img src="image/foot-triangle.png" /></a>
        <a href="#" class="foot-people"><img src="image/foot-people.png" /></a>
        <span class="circle"><img src="image/foot-circle.png" /></span>
        <span><img src="image/foot-circle.png" /></span>
        <span><img src="image/foot-circle.png" /></span>
    </div>
</body>
</html>


