<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Onsaleslider>
            <version>1.7.0.0</version>
        </Magentothem_Onsaleslider>
    </modules>
    <frontend>
        <routers>
            <onsaleslider>
                <use>standard</use>
                <args>
                    <module>Magentothem_Onsaleslider</module>
                    <frontName>onsaleslider</frontName>
                </args>
            </onsaleslider>
        </routers>
        <layout>
            <updates>
                <onsaleslider>
                    <file>onsaleslider.xml</file>
                </onsaleslider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<onsaleslider>
				<use>admin</use>
				<args>
					<module>Magentothem_onsaleslider</module>
					<frontName>onsaleslider</frontName>
				</args>
			</onsaleslider>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<magentothem translate="title" module="onsaleslider">
				<title>Magentothem</title>
				<sort_order>71</sort_order>               
				<children>
					<onsaleslider translate="title" module="onsaleslider">
						<title>OnSale Products Slider</title>
						<sort_order>0</sort_order>
						<children>
							<configuration>
								<title>Configuration</title>
								<sort_order>1</sort_order>
								<action>adminhtml/system_config/edit/section/onsaleslider</action>
							</configuration>
						</children>
					</onsaleslider>
				</children>
			</magentothem>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Magentothem_Onsaleslider>
							<title>Onsaleslider Module</title>
							<sort_order>10</sort_order>
						</Magentothem_Onsaleslider>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<onsaleslider>
					<file>onsaleslider.xml</file>
				</onsaleslider>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <onsaleslider>
                <class>Magentothem_Onsaleslider_Model</class>
                <resourceModel>onsaleslider_mysql4</resourceModel>
            </onsaleslider>
            <onsaleslider_mysql4>
                <class>Magentothem_Onsaleslider_Model_Mysql4</class>
                <entities>
                    <onsaleslider>
                        <table>onsaleslider</table>
                    </onsaleslider>
                </entities>
            </onsaleslider_mysql4>
        </models>
        <resources>
            <onsaleslider_setup>
                <setup>
                    <module>Magentothem_Onsaleslider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </onsaleslider_setup>
            <onsaleslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </onsaleslider_write>
            <onsaleslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </onsaleslider_read>
        </resources>
        <blocks>
            <onsaleslider>
                <class>Magentothem_Onsaleslider_Block</class>
            </onsaleslider>
        </blocks>
        <helpers>
            <onsaleslider>
                <class>Magentothem_Onsaleslider_Helper</class>
            </onsaleslider>
        </helpers>
    </global>
	<default>
		<onsaleslider>
			<onsaleslider_config>
				<enabled>1</enabled>
				<title>Sale Products</title>
				<catsid></catsid>
				<auto>0</auto>
				<speed>1000</speed>
				<interval>600</interval>
				<show_price>1</show_price>
				<addtocart>0</addtocart>
				<addtowishlist>0</addtowishlist>
				<addtocompare>0</addtocompare>
				<review>1</review>
				<description>0</description>
				<maxlength></maxlength>
				<qty>3</qty>
				<items_show>1</items_show>
				<item_width>260</item_width>
				<width_thumbnail>500</width_thumbnail>
				<height_thumbnail>500</height_thumbnail>
				<next_back>0</next_back>
				<nav_ctrl>1</nav_ctrl>
			</onsaleslider_config>
		</onsaleslider>
	</default>
</config>