@charset "utf-8";
/* 你自己的样式 */
#loginform label.error {
    right: 62px;
    top: 12px;
}

#loginform .code label.error {
    right: 272px;
    top: 12px
}

div.text-l label, div.text-l input, div.text-l span, div.text-l button {
    height: 31px;
    line-height: 1.42857;
    margin: 5px 0;
}

div.text-l input {
    width: 150px;
}


.table .Hui-iconfont{
    font-size: 25px;
}

.table tr th:last-child{
    min-width: 140px;
}

.select-box{
    width: 160px;
}
