<!--<nav class="breadcrumb">-->
	<!--<i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理-->
	<!--<span class="c-gray en">&gt;</span> 标签管理-->
	<!--<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新">-->
		<!--<i class="Hui-iconfont">&#xe68f;</i> </a>-->
<!--</nav>-->
{{:W('Menu/Breadcrumb')}}
<div class="page-container">
	<div class="text-l">
		<form target="_self" action="" method="get" class="Huiform">
			标签名称： <input type="text" name="tag_name" value="{{$tag_name}}" class="input-text" placeholder="标签名称"/>
			标签编号： <input type="text" name="tag_num" value="{{$tag_num}}" class="input-text" placeholder="标签编号"/>
			商品名称：<input type="text" name="product_name" value="{{$product_name}}" class="input-text" placeholder="商品名称"/>
			商品编号：<input type="text" name="product_num" value="{{$product_num}}" class="input-text" placeholder="商品编号"/>
			产地：<input type="text" name="product_place" value="{{$product_place}}" class="input-text" placeholder="商品名称"/>
			<!--批次：<input type="text" name="batch_num" value="{{$batch_num}}" class="input-text" placeholder="批次"/>-->
			<!--生产日期：-->
			<!--<input type="text" name="start_date" value="{{$start_date}}" class="input-text Wdate" placeholder="开始时间" onfocus="WdatePicker({})"/>-->
			<!--<input type="text" name="end_date" value="{{$end_date}}" class="input-text Wdate" placeholder="结束时间" onfocus="WdatePicker({})"/>-->
			<button type="submit" class="btn btn-success">
				<i class="Hui-iconfont">&#xe665;</i> 搜索
			</button>
		</form>
	</div>

	<if condition="checkAuth('tag/tagAdd')">
		<div class="cl pd-5 bg-1 bk-gray">
		<span class="l">
		<a class="btn btn-primary radius" href="javascript:void(0);" onclick="tag_add('添加标签','{{:U(\'tag/tagAdd\')}}')"><i class="Hui-iconfont">
			&#xe600;</i> 添加标签</a>
		</span>
		</div>
	</if>
	<div class="dataTables_wrapper no-footer">
		<table class="table table-border table-bordered table-hover table-bg">
			<thead>
			<tr>
				<th scope="col" colspan="8">标签管理</th>
			</tr>
			<tr class="text-c">
				<th width="200">标签编号</th>
				<th width="200">标签名称</th>
				<th width="200">商品名称</th>
				<th width="200">商品编号</th>
                <th width="200">公司编号</th>
				<th width="200">产地</th>
				<!--<th width="200">生产时间</th>-->
				<th width="70">操作</th>
			</tr>
			</thead>
			<tbody>
			<foreach name="list" item="tag">
				<tr class="text-c">
					<td>{{$tag['tag_num']}}</td>
					<td>{{$tag['tag_name']}}</td>
					<td>{{$tag['product_name']}}</td>
					<td>{{$tag['product_num']}}</td>
                    <td>{{$tag['depot_code']}}</td>
					<td>{{$tag['product_place']}}</td>
					<!--<td>{{$tag['product_date']}}</td>-->
					<td class="td-manage">
						<if condition="checkAuth('tag/tagEdit')">
							<a class="ml-5" style="text-decoration:none" onclick="tag_edit('编辑标签','{{:U(\'tagEdit\',array(\'id\'=>$tag[\'id\']))}}')" href="javascript:void(0);" title="编辑">
								<i class="Hui-iconfont">&#xe6df;</i> </a>
						</if>
					</td>
				</tr>
			</foreach>
			</tbody>
		</table>
		{{$page}}
	</div>
</div>
<script type="text/javascript">
	/*标签-增加*/
	function tag_add(title, url, w, h) {
		var index = layer.open({
			type: 2,
			title: title,
			content: url
		});
		layer.full(index);
	}
	/*标签-编辑*/
	function tag_edit(title, url, w, h) {
		var index = layer.open({
			type: 2,
			title: title,
			content: url
		});
		layer.full(index);
	}
	/*标签-启用*/
	function admin_start(obj, id) {
		layer.confirm('确认要启用吗？', function () {
			$.ajax({
				url: "{{:U('admin/adminToggleStatus')}}",
				type: 'post',
				data: {id: id, status: 1},
				success: function (data) {
					if (data.status == 1) {
						$(obj).parents("tr").find(".td-manage").prepend("<a class='ml-5' onClick='admin_stop(this," + id + ")' href='javascript:void(0);' title='停用' style='text-decoration:none'><i class='Hui-iconfont'>&#xe631;</i></a>");
						$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
						$(obj).remove();
						layer.msg('已启用!', {icon: 6, time: 1000});
					} else {
						layer.msg('启用失败!', {icon: 5, time: 1000});
					}
				}
			})
		})
	}
	/*标签-停用*/
	function admin_stop(obj, id) {
		layer.confirm('确认要停用吗？', function () {
			$.ajax({
				url: "{{:U('admin/adminToggleStatus')}}",
				type: 'post',
				data: {id: id, status: 0},
				success: function (data) {
					if (data.status == 1) {
						$(obj).parents("tr").find(".td-manage").prepend("<a class='ml-5' onClick='admin_start(this," + id + ")' href='javascript:void(0);' title='启用' style='text-decoration:none'><i class='Hui-iconfont'>&#xe615;</i></a>");
						$(obj).parents("tr").find(".td-status").html('<span class="label radius">已停用</span>');
						$(obj).remove();
						layer.msg('已停用!', {icon: 5, time: 1000});
					} else {
						layer.msg('停用失败!', {icon: 5, time: 1000});
					}
				}
			});
		})
	}

</script>
