/*
global reset
-----------------------------------------------------------------------------------------------------*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{font:12px/1.5em Arial;color:#333;background:#fff;text-align:center; background-color:#E8E8E8}
input,select{vertical-align:middle}
form,ul,img{border:0}
ul,ol,li{list-style:none;overflow:hidden}
a{color:#333;}
a:link,a:visited{color:#333;text-decoration:none}
a:hover,a:active{text-decoration:underline;color:#f00}

.:before,.clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}

.wrap{width:990px;margin:0 auto;}



/*
header
-----------------------------------------------------------------------------------------------------*/
header{float:left;width:100%;height:83px;background:#6899D0 url(../img/png.png);}
.topbar{text-align:right;height:23px;line-height:23px;}
.logout{margin:0 10px;display:block;float:right;}
.logo{float:left;font:400 22px/43px microsoft yahei;color:#fff;}
.subbox{width:100%;height:26px;font:400 14px/26px arial;background-color:#fff;position:absolute;top:84px;left:0;border-bottom:1px solid #cecece}


/*
nav
-----------------------------------------------------------------------------------------------------*/
nav{height:29px;float:right;margin-top:31px;}
nav ul{text-align:center;line-height:29px;position:relative;}
nav ul li{float:left;width:111px;margin-left:15px;}
nav ul li a{color:#fff!important;display:block;width:111px;height:29px;font:700 14px/32px microsoft yahei;background:url(../img/png.png) 0 -122px;}
nav ul li a:hover,a.nav-this{color:#333!important;text-decoration:none;background-position:0 -88px;}
nav ul li ul{visibility:hidden;height:29px;}
nav ul li:hover ul{visibility:visible;z-index:1000;position:absolute;left:0;top:29px;width:100%;}
nav ul li ul li{margin:0;width:auto;}
nav ul li ul li a{background:none;width:auto!important;margin-left:15px;color:#333!important;font:400 12px/29px arial;}
nav ul li ul li a:hover{color:#f60!important;}


/*
当前所在位置
-----------------------------------------------------------------------------------------------------*/
.ur_here{float:left;color:#666;}
.ur_here h2{float:left;font:400 14px/26px microsoft yahei;}
.ur_here em{float:left;display:block;margin:0 10px;}
.ur_here p{float:left;font:400 12px/30px microsoft yahei;}

.wrapper{padding:20px 0;}

/*
footer
-----------------------------------------------------------------------------------------------------*/
footer{width:100%;background:#333;height:30px;color:#999;clear:both;line-height:30px;}