<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Newproductlist>
            <version>1.5.0.1</version>
        </Magentothem_Newproductlist>
    </modules>
    <frontend>
        <routers>
            <newproductlist>
                <use>standard</use>
                <args>
                    <module>Magentothem_Newproductlist</module>
                    <frontName>newproductlist</frontName>
                </args>
            </newproductlist>
        </routers>
        <layout>
            <updates>
                <newproductlist>
                    <file>newproductlist.xml</file>
                </newproductlist>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<newproductlist>
				<use>admin</use>
				<args>
					<module>Magentothem_Newproductlist</module>
					<frontName>newproductlist</frontName>
				</args>
			</newproductlist>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<newproductlist>
					<file>newproductlist.xml</file>
				</newproductlist>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <newproductlist>
                <class>Magentothem_Newproductlist_Model</class>
                <resourceModel>newproductlist_mysql4</resourceModel>
            </newproductlist>
            <newproductlist_mysql4>
                <class>Magentothem_Newproductlist_Model_Mysql4</class>
                <entities>
                    <newproductlist>
                        <table>newproductlist</table>
                    </newproductlist>
                </entities>
            </newproductlist_mysql4>
        </models>
        <resources>
            <newproductlist_setup>
                <setup>
                    <module>Magentothem_Newproductlist</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </newproductlist_setup>
            <newproductlist_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </newproductlist_write>
            <newproductlist_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </newproductlist_read>
        </resources>
        <blocks>
            <newproductlist>
                <class>Magentothem_Newproductlist_Block</class>
            </newproductlist>
        </blocks>
        <helpers>
            <newproductlist>
                <class>Magentothem_Newproductlist_Helper</class>
            </newproductlist>
        </helpers>
    </global>
	<default>
		<newproductlist>
			<newproductlist_config>
				<enabled>1</enabled>
				<title>MA New Products</title>
				<sort>name</sort>
				<direction>asc</direction>
				<addtocart>1</addtocart>
				<addtowishlist>1</addtowishlist>
				<addtocompare>1</addtocompare>
				<review>0</review>
				<description>0</description>
				<qty>9</qty>
				<items>3</items>
				<width>135</width>
				<height>135</height>
			</newproductlist_config>
		</newproductlist>
	</default>
</config>