<article class="page-container">
	<form class="form form-horizontal" id="role-edit" method="post" action="__ACTION__">
		<input type="hidden" name="id" value="{{$detail['id']}}">

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">
				<span class="c-red">*</span>类型序号：
			</label>

			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="seq" placeholder="类型序号" value="{{$detail['seq']}}" class="input-text">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">
				<span class="c-red">*</span>类型名称：
			</label>

			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="name" placeholder="类型名称" value="{{$detail['name']}}" class="input-text">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">
				<span class="c-red">*</span>类型值：
			</label>

			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="value" placeholder="类型值" value="{{$detail['value']}}" class="input-text">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">
				<span class="c-red">*</span>类型组：
			</label>

			<div class="formControls col-xs-8 col-sm-9">
				<span class="select-box">
				<select class="select" name="type">
					<option value="">—请选择—</option>
					<foreach name="typeGroup" key="key" item="group">
						<eq name="group.name" value="$detail['type']">
							<option value="{{$group.name}}" selected>{{$group.name}}</option>
							<else/>
							<option value="{{$group.name}}">{{$group.name}}</option>
						</eq>

					</foreach>
				</select>
				</span>
			</div>
		</div>

		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;" class="btn btn-primary radius">
			</div>
		</div>
	</form>
</article>
<script type="text/javascript">
	$("#role-edit").validate({
		rules: {
			id: {
				required: true,
			},
			sys_sap_name: {
				required: true,
			},
			sys_sap_url: {
				required: true,
			},
			sys_sap_account: {
				required: true,
			},
		},
		onkeyup: false,
		focusCleanup: true,
		success: "valid",
		submitHandler: function (form) {
			var layerIndex = layer.load(1, {
				shade: [0.1, '#fff'] //0.1透明度的白色背景
			});
			$(form).ajaxSubmit({
				success: function (data) {
					if (data.status == 1) {
						layer.close(layerIndex);
						layer.msg(data.info, {
							time: 500,
						}, function () {
							layer_close();
                            location.replace(location.href);
						});
					} else {
						layer.close(layerIndex);
						layer.msg(data.info, {
							time: 1000,
						});

					}
				}
			});
		}
	})
</script>
