@charset "utf-8";


body{ background:url(../images/body_bg.jpg);}
.position_pbl{margin:20px auto 0 auto;width:1140px;}
#tab{margin:0 auto 15px;width:1150px;z-index:9999;overflow:hidden; background:#000000;opacity: 0.4; }
.tab_left{float:left;width:610px;margin:10px 0;}
.tab_left ul li{float:left;height:29px;width:90px;text-align:center;margin:0 5px;line-height:29px;}
.tab_left ul li a{background:url(../images/bul.jpg) no-repeat;display:block;height:29px;width:90px;line-height:29px;}
.tab_left ul li .hovera{background:url(../images/bulhover.gif) no-repeat;display:block;height:29px;width:90px;line-height:29px;}
.tab_left ul li a:hover{background:url(../images/bulhover.gif) no-repeat;display:block;}
.tab_right{float:right;width:300px;background:#fffff;margin:10px 0;}
.tab_right .tab_ground{float:left;overflow:hidden;width:268px;margin-left:10px;}
.tab_right .tab_ground h3{float:left;height:35px;line-height:35px; }
.tab_right .tab_ground ul li{float:left;overflow:hidden;text-align:center;width:45px;height:35px;line-height:35px;}
.tab_right .tab_width{margin-left:27px;width:168px;}

.main{width:1150px;margin:auto;}
.main ul{*overflow:hidden;_height:1%;}
.main ul li{border:1px solid #CCC;border-bottom:2px solid #CCC;border-top:1px solid #DBDBDB;float:left;display:inline;list-style:none;margin:6px 0;background:#FFF;width:216px;}
.main ul li.hover{border:1px solid #fa3241;border-bottom:2px solid #fa3241;}
.main ul li img{width:196px;display:block;}
.main ul li img.hover{filter:Alpha(opacity=90);-moz-opacity:.9;opacity:0.9;}
.main ul li h31,.main ul li p{padding:0 10px 0 10px;font-weight:normal;}
.main ul li p{background:#F3F0FF;line-height:25px;}
.main ul li a{color: #666666;}

.img_block{position:relative;padding:10px;}

.zoom,.ilike{position:absolute;line-height:25px;padding:0 0 2px 18px;text-align:center;top:14px;display:block;text-decoration:none;background:url(../images/pic_ilike.png) no-repeat -200px 0;}
.zoom{left:14px;width:42px;background-position:0 -71px;}
.zoom:hover{background-position:0 -99px;}
.ilike{right:14px;width:57px;background-position:0 -140px;}
.ilike:hover{background-position:0 -167px;}

.iNum,.iNum a{background:url(../images/pic_ilike.png) no-repeat 0 -528px;padding:0 0 6px 28px;line-height:11px;}
.iNum{background-position:12px -522px;}
.iNum a{background-position:12px -550px;text-decoration:none;}

.loading{text-align:center;padding:30px 0;}
