<nav class="breadcrumb">
	<i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 商品管理
	<span class="c-gray en">&gt;</span> 商品管理
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新">
		<i class="Hui-iconfont">&#xe68f;</i> </a>
</nav>
<div class="page-container">
	<div class="text-l">
		<form target="_self" action="" method="get" class="Huiform">
			商品名称：<input type="text" name="product_name" value="{{$product_name}}" class="input-text" placeholder="产品名称"/>
			商品编码：<input type="text" name="product_code" value="{{$product_code}}" class="input-text" placeholder="产品编码"/>
			<button type="submit" class="btn btn-success">
				<i class="Hui-iconfont">&#xe665;</i> 搜索
			</button>
		</form>
	</div>
	<if condition="checkAuth('product/productAdd')">
		<div class="cl pd-5 bg-1 bk-gray">
	<span class="l">

	<a class="btn btn-primary radius" href="javascript:void(0);" onclick="product_add('商品添加','{{:U(\'productAdd\')}}')">
		<i class="Hui-iconfont">&#xe600;</i> 商品添加</a>
	</span>
		</div>
	</if>
	<div class="dataTables_wrapper no-footer">
		<table class="table table-border table-bordered table-hover table-bg">
			<thead>
			<tr>
				<th scope="col" colspan="5">商品管理</th>
			</tr>
			<tr class="text-c">
				<th width="40">ID</th>
				<th width="200">商品名称</th>
				<th width="200">商品编码</th>
				<th width="400">描述</th>
				<th width="70">操作</th>
			</tr>
			</thead>
			<tbody>
			<foreach name="list" item="product">
				<tr class="text-c">
					<td>{{$product['id']}}</td>
					<td>{{$product['product_name']}}</td>
					<td>{{$product['product_code']}}</td>
					<td>{{$product['remark']}}</td>
					<td class="td-manage">
						<if condition="checkAuth('admin/productEdit')">
							<a class="ml-5" style="text-decoration:none" onclick="product_edit('商品编辑','{{:U(\'productEdit\',array(\'id\'=>$product[\'id\']))}}')" href="javascript:void(0);" title="编辑">
								<i class="Hui-iconfont">&#xe6df;</i> </a>
						</if>
					</td>
				</tr>
			</foreach>
			</tbody>
		</table>
		{{$page}}
	</div>
</div>
<script type="text/javascript">
	/*属性-增加*/
	function product_add(title, url, w, h) {
		var index = layer.open({
			type: 2,
			title: title,
			content: url
		});
		layer.full(index);
	}
	/*属性-编辑*/
	function product_edit(title, url, w, h) {
		var index = layer.open({
			type: 2,
			title: title,
			content: url
		});
		layer.full(index);
	}
</script>