<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=10,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<meta http-equiv="Cache-Control" content="no-siteapp"/>
	<LINK rel="Bookmark" href="/favicon.ico">
	<LINK rel="Shortcut Icon" href="/favicon.ico"/>
	<!--[if lt IE 9]>
	<script type="text/javascript" src="__JS__/html5.js"></script>
	<script type="text/javascript" src="__JS__/respond.min.js"></script>
	<script type="text/javascript" src="__JS__/PIE_IE678.js"></script>
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="__CSS__/main.min.css"/>
	<link rel="stylesheet" type="text/css" href="__CSS__/admin.css"/>
	<link rel="stylesheet" type="text/css" href="__JS__/iconfont/iconfont.css"/>
	<link rel="stylesheet" type="text/css" href="__JS__/icheck/icheck.css"/>
	<link rel="stylesheet" type="text/css" href="__SKIN__/default/skin.css" id="skin"/>
	<link rel="stylesheet" type="text/css" href="__CSS__/style.css"/>
	<!--[if IE 6]>
	<script type="text/javascript" src="__JS__/DD_belatedPNG_0.0.8a-min.js"></script>
	<script>DD_belatedPNG.fix('*');</script>
	<![endif]-->

	<script type="text/javascript" src="__JS__/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="__JS__/jquery/jquery.form.js"></script>
	<script type="text/javascript" src="__JS__/icheck/jquery.icheck.min.js"></script>
	<script type="text/javascript" src="__JS__/layer/layer.js"></script>
	<script type="text/javascript" src="__JS__/validate/jquery.validate.min.js"></script>
	<script type="text/javascript" src="__JS__/validate/validate-methods.js"></script>
	<script type="text/javascript" src="__JS__/validate/messages_zh.min.js"></script>
	<script type="text/javascript" src="__JS__/My97DatePicker/WdatePicker.js"></script>
	<script type="text/javascript" src="__JS__/main.js"></script>
	<script type="text/javascript" src="__JS__/admin.js"></script>
	<script type="text/javascript" src="__JS__/Highcharts/highcharts.js"></script>
	<script type="text/javascript" src="__JS__/Highcharts/modules/exporting.js"></script>

	<!--<script type="text/javascript" src="__JS__/public.js"></script>-->
    <empty name="title">
	<title>管理后台</title>
    <else />
    <title>{{$title}}</title>
    </empty>
	<meta name="keywords" content="">
	<meta name="description" content="">
</head>
<body>
{__CONTENT__}
</body>
</html>
