<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css"/>
	<!--<link rel="stylesheet" type="text/css" media="screen and (max-width: 900px)" href="./css/style.css">

	<link rel="stylesheet" type="text/css" media="screen and (min-width: 414px)" href="./css/index.css"  >
	-->
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- 可选的Bootstrap主题文件（一般不用引入） -->
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<title>安佑</title>
	<script type="text/javascript">
		var winWidth = 0;
		var winHeight = 0;
		function findDimensions(){
 		if (document.documentElement && document.documentElement.clientHeight && document.documentElement.clientWidth)
 			{
 				winHeight = document.documentElement.clientHeight;
 				winWidth = document.documentElement.clientWidth;
			}
			return {
 					'width': winHeight,
 					'height': winWidth
					}			};
			
	</script>
</head>
<body>
	<div id="content" >

		<div class="row header" style="	margin:10px 5%;">
  			<div class="col-md-9 col-md-push-3" style="width:100%;">
  			<div class="img">
  				<img src="__PUBLIC__/image/1.jpg" style="width:100%;height:100%;">
			</div>
			<div class="titles">
  			 <span class="spans"><b>　饲料履历溯源保真</b></span>
			</div>
  			 </div>
		</div>
		<div style="float:clear;"></div>
		
		<div style="width:80%; margin:80px 10%;" >
			<form action="__URL__/message" method="get">
			<p style="font-family:'微软雅黑';">　<b>防伪标签号码查询</b></p>
	        	 <div class="col-sm-4" style="margin-bottom:20px;width:100%;">
	             	<div class="input-group" style="width:100%;" >
	               		 <input type="text" class="form-control" name="code" onkeydown="onKeyDown(event)"/>
	                	 <span class="input-group-addon""><i class="glyphicon glyphicon-search"></i></span>
	             	</div>
	             </div>

	             <div class="input-group" style="width:90%;margin:0px 5%;" >	
		        <p>　<input class="btn  btn-primary col-sm-4" type="submit" value="查询" style="width:100%;"></p>
		        </div>
			</form>
		</div>

		<div style="width:60%;margin:0px 20% 40px 20%;">
			<button type="button" class="btn btn-default btn-lg btn-block" style="height:40px;font-family:'微软雅黑';">QR Code 扫描</button>
		</div>
		
	</div>

	      <script type="text/javascript">
            function onKeyDown(event){
                 var e = event || window.event || arguments.callee.caller.arguments[0];
                 if(e && e.keyCode==27){ // 按 Esc 
                     //要做的事情
                 }
                 if(e && e.keyCode==113){ // 按 F2 
                      //要做的事情
                 }            
                 if(e && e.keyCode==13){ // enter 键
                      alert("此处回车触发搜索事件");
                 }
                 
             }
        
         </script>        
</body>
</html>
