<article class="page-container">
	<form id="changePassword" action="{{:U('changePassword')}}" method="post" class="form form-horizontal">
		<input type="hidden" name="id" value="{{$admin['id']}}">

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>账户：</label>

			<div class="formControls col-xs-8 col-sm-9"> {{$admin['email']}}</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>新密码：</label>

			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" placeholder="新密码" name="password" id="password">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>

			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" placeholder="确认密码" name="password2" id="password2">
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;保存&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>
<script type="text/javascript">
	$("#changePassword").validate({
		rules: {
			password: {
				required: true,
				minlength: 6,
				maxlength: 16
			},
			password2: {
				required: true,
				minlength: 6,
				maxlength: 16,
				equalTo: "#password"
			},
		},
		onkeyup: false,
		focusCleanup: true,
		success: "valid",
		submitHandler: function (form) {
			var layerIndex = layer.load(1, {
				shade: [0.1, '#fff'] //0.1透明度的白色背景
			});
			$(form).ajaxSubmit({
				success: function (data) {
					if (data.status == 1) {
						layer.close(layerIndex);
						layer.msg(data.info, {
							time: 500,
						}, function () {
							layer_close();
						});
					} else {
						layer.close(layerIndex);
						layer.msg(data.info, {
							time: 1000,
						});
					}
				}
			});
		}
	});
</script>
