<nav class="breadcrumb">
	<i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理
	<span class="c-gray en">&gt;</span> 角色管理
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新">
		<i class="Hui-iconfont">&#xe68f;</i> </a>
</nav>
<div class="page-container">
	<if condition="checkAuth('admin/roleAdd')">
		<div class="cl pd-5 bg-1 bk-gray">
		<span class="l">
			<a class="btn btn-primary radius" href="javascript:void(0);" onclick="role_add('添加角色','{{:U(\'admin/roleAdd\')}}',800)">
				<i class="Hui-iconfont">&#xe600;</i> 添加角色 </a>
		</span>
		</div>
	</if>
	<div class="dataTables_wrapper no-footer">
		<table class="table table-border table-bordered table-hover table-bg">
			<thead>
			<tr>
				<th scope="col" colspan="5">角色管理</th>
			</tr>
			<tr class="text-c">
				<th width="40">ID</th>
				<th width="100">角色名</th>
				<th width="200">用户列表</th>
				<th width="400">权限列表</th>
				<th width="70">操作</th>
			</tr>
			</thead>
			<tbody>
			<foreach name="list" item="role">
				<tr class="text-c">
					<td>{{$role['id']}}</td>
					<td>{{$role['title']}}</td>
					<td>
						<foreach name="role['ids']" item="id">
							<a class="ml-15" href="javascript:void(0)">{{$adminList[$id]}}</a>
						</foreach>
					</td>
					<td>
						<foreach name="role['rules']" item="rule">
							<a class="ml-15" href="javascript:void(0)">{{$adminRules[$rule]}}</a>
						</foreach>
					</td>
					<td class="f-14">
						<if condition="checkAuth('admin/roleEdit')">
							<a title="编辑" href="javascript:void(0);" onclick="role_edit('角色编辑','{{:U(\'admin/roleEdit\',array(\'id\'=>$role[\'id\']))}}',800)" class="ml-5" style="text-decoration:none">
								<i class="Hui-iconfont"> &#xe6df;</i> </a>
						</if>
						<if condition="checkAuth('admin/roleDel')">
							<a title="删除" href="javascript:void(0);" onclick="role_del(this,'{{$role[\'id\']}}')" class="ml-5" style="text-decoration:none">
								<i class="Hui-iconfont"> &#xe6e2;</i> </a>
						</if>
					</td>
				</tr>
			</foreach>
			</tbody>
		</table>
		{{$page}}
	</div>
</div>
<script type="text/javascript">
	/*角色-增加*/
	function role_add(title, url, w, h) {
		layer_show(title, url, w, h);
	}
	/*角色-编辑*/
	function role_edit(title, url, w, h) {
		layer_show(title, url, w, h);
	}
	/*角色-删除*/
	function role_del(obj, id) {
		layer.confirm('确认要删除吗？', function () {
			$.ajax({
				url: "{{:U('admin/roleDel')}}",
				type: 'post',
				data: {id: id},
				success: function (data) {
					if (data.status == 1) {
						$(obj).parents("tr").remove();
						layer.msg('已删除!', {icon: 5, time: 1000});
					} else {
						layer.msg('删除失败!', {icon: 5, time: 1000});
					}
				}
			});
		})
	}

</script>