
.header .form-search #cat {width: 157px; float:left; padding: 5px 20px; font-family: 'titilliumwebregular'; font-size: 16px; color: #777777;  margin-left:-20px; background: none; border: 0;}
.header .form-search input.input-text { width: 97px; float: left; margin-right: 2px; }
.header .form-search label { width: 22px; float: left; }
#search_mini_form .header .form-search button.button { float: right; margin-right: 8px; }
