<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Bestsellerproductlist>
            <version>1.6.1</version>
        </Magentothem_Bestsellerproductlist>
    </modules>
    <frontend>
        <routers>
            <bestsellerproductlist>
                <use>standard</use>
                <args>
                    <module>Magentothem_Bestsellerproductlist</module>
                    <frontName>bestsellerproductlist</frontName>
                </args>
            </bestsellerproductlist>
        </routers>
        <layout>
            <updates>
                <bestsellerproductlist>
                    <file>bestsellerproductlist.xml</file>
                </bestsellerproductlist>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<bestsellerproductlist>
				<use>admin</use>
				<args>
					<module>Magentothem_Bestsellerproductlist</module>
					<frontName>bestsellerproductlist</frontName>
				</args>
			</bestsellerproductlist>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<bestsellerproductlist>
					<file>bestsellerproductlist.xml</file>
				</bestsellerproductlist>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <bestsellerproductlist>
                <class>Magentothem_Bestsellerproductlist_Model</class>
                <resourceModel>bestsellerproduct_resource</resourceModel>
            </bestsellerproductlist>
            <bestsellerproduct_resource>
                <class>Magentothem_Bestsellerproductlist_Model_Resource</class>
            </bestsellerproduct_resource>
        </models>
        <resources>
            <bestsellerproduct_setup>
                <setup>
                    <module>Magentothem_Bestsellerproductlistlist</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bestsellerproduct_setup>
            <bestsellerproduct_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bestsellerproduct_write>
            <bestsellerproduct_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bestsellerproduct_read>
        </resources>
        <blocks>
            <bestsellerproductlist>
                <class>Magentothem_Bestsellerproductlist_Block</class>
            </bestsellerproductlist>
        </blocks>
        <helpers>
            <bestsellerproductlist>
                <class>Magentothem_Bestsellerproductlist_Helper</class>
            </bestsellerproductlist>
        </helpers>
    </global>
	<default>
		<bestsellerproductlist>
			<bestsellerproduct_config>
				<enabled>1</enabled>
				<title>MA Bestseller Products</title>
				<addtocart>1</addtocart>
				<addtowishlist>1</addtowishlist>
				<addtocompare>1</addtocompare>
				<review>0</review>
				<description>0</description>
				<qty>9</qty>
				<items>3</items>
				<width>135</width>
				<height>135</height>
			</bestsellerproduct_config>
		</bestsellerproductlist>
	</default>
</config>