<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Bannersequence>
            <version>0.1.0</version>
        </Magentothem_Bannersequence>
    </modules>
    <frontend>
        <routers>
            <bannersequence>
                <use>standard</use>
                <args>
                    <module>Magentothem_Bannersequence</module>
                    <frontName>bannersequence</frontName>
                </args>
            </bannersequence>
        </routers>
        <layout>
            <updates>
                <bannersequence>
                    <file>bannersequence.xml</file>
                </bannersequence>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <bannersequence>
                <use>admin</use>
                <args>
                    <module>Magentothem_Bannersequence</module>
                    <frontName>bannersequence</frontName>
                </args>
            </bannersequence>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <magentothem translate="title" module="bannersequence">
                <title>Magentothem</title>
                <sort_order>71</sort_order>               
                <children>
                    <bannersequence translate="title" module="bannersequence">
                        <title>Banner Sequence</title>
                        <sort_order>35</sort_order>
                        <children>
                            <configuration>
                                <title>Configuration</title>
                                <sort_order>1</sort_order>
                                <action>adminhtml/system_config/edit/section/bannersequence</action>
                            </configuration>
                            <items module="bannersequence">
                                <title>Manage Banner</title>
                                <sort_order>0</sort_order>
                                <action>bannersequence/adminhtml_bannersequence</action>
                            </items>
                        </children>
                    </bannersequence>
                </children>
            </magentothem>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <bannersequence>
                                            <title>Banner Sequence</title>
                                        </bannersequence>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <bannersequence>
                    <file>bannersequence.xml</file>
                </bannersequence>
            </updates>
        </layout>
    </adminhtml>    
    <global>
        <models>
            <bannersequence>
                <class>Magentothem_Bannersequence_Model</class>
                <resourceModel>bannersequence_mysql4</resourceModel>
            </bannersequence>
            <bannersequence_mysql4>
                <class>Magentothem_Bannersequence_Model_Mysql4</class>
                <entities>
                    <bannersequence>
                        <table>bannersequence</table>
                    </bannersequence>
                </entities>
            </bannersequence_mysql4>
        </models>
        <resources>
            <bannersequence_setup>
                <setup>
                    <module>Magentothem_Bannersequence</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bannersequence_setup>
            <bannersequence_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bannersequence_write>
            <bannersequence_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bannersequence_read>
        </resources>
        <blocks>
            <bannersequence>
                <class>Magentothem_Bannersequence_Block</class>
            </bannersequence>
        </blocks>
        <helpers>
            <bannersequence>
                <class>Magentothem_Bannersequence_Helper</class>
            </bannersequence>
        </helpers>
    </global>
	<default>
		<bannersequence>
			<bannersequence_config>
				<enabled>1</enabled>
				<auto>1</auto>
				<delay>3000</delay>
                                <hover>0</hover>
				<next_back>1</next_back>
				<nav_ctrl>0</nav_ctrl>
			</bannersequence_config>
		</bannersequence>
	</default>
</config>