<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Mostviewedproduct>
            <version>1.5.0.1</version>
        </Magentothem_Mostviewedproduct>
    </modules>
    <frontend>
        <routers>
            <mostviewedproduct>
                <use>standard</use>
                <args>
                    <module>Magentothem_Mostviewedproduct</module>
                    <frontName>mostviewedproduct</frontName>
                </args>
            </mostviewedproduct>
        </routers>
        <layout>
            <updates>
                <mostviewedproduct>
                    <file>mostviewedproduct.xml</file>
                </mostviewedproduct>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<mostviewedproduct>
				<use>admin</use>
				<args>
					<module>Magentothem_Mostviewedproduct</module>
					<frontName>mostviewedproduct</frontName>
				</args>
			</mostviewedproduct>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<magentothem translate="title" module="mostviewedproduct">
				<title>Magentothem</title>
				<sort_order>71</sort_order>               
				<children>
					<mostviewedproduct translate="title" module="mostviewedproduct">
						<title>Mostviewed Products</title>
						<sort_order>0</sort_order>
						<children>
							<configuration>
								<title>Configuration</title>
								<sort_order>1</sort_order>
								<action>adminhtml/system_config/edit/section/mostviewedproduct</action>
							</configuration>
						</children>
					</mostviewedproduct>
				</children>
			</magentothem>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Magentothem_Mostviewedproduct>
							<title>Mostviewedproduct Module</title>
							<sort_order>10</sort_order>
						</Magentothem_Mostviewedproduct>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<mostviewedproduct>
					<file>mostviewedproduct.xml</file>
				</mostviewedproduct>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <mostviewedproduct>
                <class>Magentothem_Mostviewedproduct_Model</class>
                <resourceModel>mostviewedproduct_mysql4</resourceModel>
            </mostviewedproduct>
            <mostviewedproduct_mysql4>
                <class>Magentothem_Mostviewedproduct_Model_Mysql4</class>
                <entities>
                    <mostviewedproduct>
                        <table>mostviewedproduct</table>
                    </mostviewedproduct>
                </entities>
            </mostviewedproduct_mysql4>
        </models>
        <resources>
            <mostviewedproduct_setup>
                <setup>
                    <module>Magentothem_Mostviewedproduct</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mostviewedproduct_setup>
            <mostviewedproduct_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mostviewedproduct_write>
            <mostviewedproduct_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mostviewedproduct_read>
        </resources>
        <blocks>
            <mostviewedproduct>
                <class>Magentothem_Mostviewedproduct_Block</class>
            </mostviewedproduct>
        </blocks>
        <helpers>
            <mostviewedproduct>
                <class>Magentothem_Mostviewedproduct_Helper</class>
            </mostviewedproduct>
        </helpers>
    </global>
	<default>
		<mostviewedproduct>
			<mostviewedproduct_config>
				<enabled>1</enabled>
				<title>Mostviewed Products</title>
				<catsid></catsid>
				<addtocart>1</addtocart>
				<addtowishlist>1</addtowishlist>
				<addtocompare>0</addtocompare>
				<show_price>1</show_price>
				<review>0</review>
				<description>0</description>
				<qty>8</qty>
				<items>4</items>
				<width>500</width>
				<height>500</height>
			</mostviewedproduct_config>
		</mostviewedproduct>
	</default>
</config>